/* Color
-------------------------- */
/// color|1|Brand Color|0
$--color-primary: #3B7FE8 !default;
/// color|1|Background Color|4
$--color-white: #FFFFFF !default;
/// color|1|Background Color|4
$--color-black: #000000 !default;
$--color-primary-light-1: mix($--color-white, $--color-primary, 10%) !default; /* 53a8ff */
$--color-primary-light-2: mix($--color-white, $--color-primary, 20%) !default; /* 66b1ff */
$--color-primary-light-3: mix($--color-white, $--color-primary, 30%) !default; /* 79bbff */
$--color-primary-light-4: mix($--color-white, $--color-primary, 40%) !default; /* 8cc5ff */
$--color-primary-light-5: mix($--color-white, $--color-primary, 50%) !default; /* a0cfff */
$--color-primary-light-6: mix($--color-white, $--color-primary, 60%) !default; /* b3d8ff */
$--color-primary-light-7: mix($--color-white, $--color-primary, 70%) !default; /* c6e2ff */
$--color-primary-light-8: mix($--color-white, $--color-primary, 80%) !default; /* d9ecff */
$--color-primary-light-9: mix($--color-white, $--color-primary, 90%) !default; /* ecf5ff */
/// color|1|Functional Color|1
$--color-success: #67C23A !default;
/// color|1|Functional Color|1
$--color-warning: #F6933E !default;
/// color|1|Functional Color|1
$--color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$--color-info: #aeafb3 !default;

$black: #000 !default;
$gray-100: rgb(13, 20, 28) !default;
$gray-200: #333a48 !default;
$gray-300: #323640 !default;
$gray-400: #333a48 !default;
$gray-500: rgb(14, 21, 27) !default;
$gray-600: rgb(27, 37, 47) !default;
$gray-700: rgb(153, 153, 153) !default;
$gray-800: rgb(234, 234, 234) !default;
$gray-900: rgb(234, 234, 234) !default;
$white: #fff !default;

$grays: () !default;
$grays: map-merge(
                (
                        "100": $gray-100,
                        "200": $gray-200,
                        "300": $gray-300,
                        "400": $gray-400,
                        "500": $gray-500,
                        "600": $gray-600,
                        "700": $gray-700,
                        "800": $gray-800,
                        "900": $gray-900
                ),
                $grays
);

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$colors: () !default;
$colors: map-merge(
                (
                        "blue": $blue,
                        "indigo": $indigo,
                        "purple": $purple,
                        "pink": $pink,
                        "red": $red,
                        "orange": $orange,
                        "yellow": $yellow,
                        "green": $green,
                        "teal": $teal,
                        "cyan": $cyan,
                        "white": $white,
                        "gray": $gray-600,
                        "gray-dark": $gray-800
                ),
                $colors
);

$primary: #c1d92a !default;
$secondary: $gray-600 !default;
$success: rgb(92, 184, 92) !default;
$info: $primary !default;
$warning: rgb(250, 170, 0) !default;
$danger: rgb(217, 66, 42) !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$body-bg: #0d141c;
$body-color: #ffffff;
$input-bg: $body-bg !default;
$input-disabled-bg: #2E3745 !default;
$input-color: $primary !default;

$font-size-base: 0.8rem !default;
$font-family-sans-serif: "Trebuchet MS", Helvetica, Arial, sans-serif !default;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$enable-caret: true !default;
$enable-rounded: false !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-hover-media-query: false !default; // Deprecated, no longer affects any compiled CSS
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: false !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;
$enable-deprecation-messages: true !default;

// non-bootstrap variables
$panel-background: #15202d;
$icon-color: #567078;
$btn-default-bg: #1d2227;
$panel-default-heading-bg: #0d141c;
$infopanel-bg: lighten($panel-default-heading-bg, 5%);
$selected-bg-color: #242c3a;
$focus-bg-color: #242C3A;
$pressed-bg-color: #0C4B92;
$pressed-bg-color: #0C4B92;
$normal-border-color: #18191B;

// re-export SASS variables to CSS variables (so we don't need SASS in samples)
// only the CSS variables that are used in the samples are listed here.
:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --text-color-normal: #{$body-color};
  --panel-background: #{$panel-background};
  --panel-bg: #{$panel-background};
  --panel-default-heading-bg: #{$panel-default-heading-bg};
  --body-bg: #{$body-bg};
  --icon-color: #{$icon-color};
  --body-color: #{$body-color};
  --input-bg: #{$input-bg};
  --btn-primary-color: #{$secondary};
  --gray-500: #{$gray-500};
  --infopanel-bg: #{$infopanel-bg};
  --primary-darken: #{darken($primary, 5%)};
  --selected-bg-color: #{$selected-bg-color};
  --focus-bg-color: #{$focus-bg-color};
  --pressed-bg-color: #{$pressed-bg-color};
  --normal-border-color: #{$normal-border-color};
  --font-family-sans-serif: #{$font-family-sans-serif};
}
